
.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
/* shared Style */
 .display-flex{
  display:flex;
 }
 /* Dark 02 */
 .text-gray{
  color: #424242;
 }
 /* dark 03 */
 .text-light-gray{
  color: #727272;
 }
 .bg-light{
  background-color: rgba(255, 144, 14, 0.1);
 }
 .btn-primary{
  background-color:rgba(255, 144, 14, 1);
  color: rgba(255, 255, 255, 1);
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;

 }
 main{
  max-width: 1440px;
  margin: 0 auto;
 }
 main>section{
  margin-top: 130px;
 }
 .section-title{
  font-weight: 400;
  font-size: 2.8rem;
}
/* Header Style */

/* Navbar Style */
.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand{
   font-weight: 700;
   font-size: 2.8rem;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.navbar,.banner{
  max-width: 1440px;
  margin: 0 auto;
}
/* banner-content */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;

}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
}
.banner-image{
  width: 100%;
}

/* teem and features styles */
.teems{
  align-items: center;
}
.teem-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.our-features{
  margin-left: 130px;
  max-width: 530px;
}
.quick_list{
  font-family: 500;
} 
/* po */
.feature{
  gap: 140px;
}
 #Feature-section-title{
border-left: 5px solid #FF900E;
padding-left: 20px;
}
.feature-card{
  padding-left: 30px;
  box-shadow: 0 4px 30px 0 rgba(0,0,0,0.06);
  gap: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.feature-card .feature-title{
  font-weight: 600px;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;

}
.black,
.section-title{
  font-weight: 700;
  color: #131313;
 
}
.color{
  font-weight: 700;
  color: #FF900E;
}
 /* same fact Related design */
  .fact-card{
    border: 1px solid #FF900E;
    width:240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;

  }
  .fact-description{
    max-width: 540px;
  }
  .facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
  /* sponsors related styles */
  .sponsors-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
  }
  .sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
  }
   .sponsors-companies img{
     filter: grayscale(100%);
   }





/* Responsive media Query */
@media screen and (max-width:576px) {

  .navbar,
  .nav-link,
  .teems{
    flex-direction: column;
  }
  .teem-img-container,
  .facts-container,
  .sponsors-companies{
  grid-template-columns: repeat(1,1fr);
  }
   .sponsors-companies{
    justify-items: center;
    gap: 50px;
   }
   .sponsors-companies,
    .facts-container
   {
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    justify-items: center;
   }
  .facts-container{
    justify-items: center;
    gap: 25px;
  }
  .our-features{
    margin-left: 20px;
  }
}


/* Medium size device */
@media screen and (min-width:576px) and (max-width:992px) {
   .teem{
    flex-direction: column;

   }
   .our-features{
    margin: 0 50px;
   }
}